
.full-abs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.cuPxwd {
    padding: 2.5rem 0px;
    color: rgba(153, 164, 176, 0.6);
    line-height: 1;
    text-align: center;
    height: 100%;
    /* min-height: 16.25rem; */
    position: relative;
}
.cuPxwd img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6.875rem 0px 0px -6.25rem;
    width: 12.5rem;
    height: 12.5rem;
}
.cuPxwd .msg {
    position: absolute;
    z-index: 1;
    line-height: 1.25rem;
    left: 50%;
    width: 17.5rem;
    top: 50%;
    margin-top: 3.75rem;
    margin-left: -8.75rem;
}
.ePAxUv > .loading, .ePAxUv > .empty {
    min-height: 80vh;
}