.iucon-list {
    position: absolute;
    left: 100%;
    top: 0px;
    width: 3.5rem;
    height: 100%;
    background-color: rgb(45, 48, 53);
    padding-top: 8.125rem;
    z-index: 0;
}
 .iucon-list {
    display: block;
}
.iucon-list .list-shadow {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.eTxQfM .game-list::after, .eTxQfM .iucon-list::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 100%;
    width: 0.75rem;
    height: 100%;
    background-image: linear-gradient(to right, rgb(17, 20, 21), rgba(36, 38, 43, 0));
    opacity: 0.14;
}