.bEzeAo {
    margin-top: 2.5rem;
}
.jRLQwZ.mb {
    display: block;
}
.bEzeAo .title {
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0px 0px 0.625rem 1.125rem;
    color: rgb(255, 255, 255);
    font-family: FuturaBold;
}
.jRLQwZ.mb .swiper .swiper-slide .item {
    width: auto;
}
.Zqjwu.col-1 {
    background-image: linear-gradient(146deg, rgb(147, 23, 146) -80%, rgb(24, 25, 28) 30%);
}
.Zqjwu {
    padding: 0.625rem 1.875rem;
}
.Zqjwu {
    border-radius: 1.25rem;
    text-align: center;
    padding: 0.9375rem 1.875rem;
}
.Zqjwu img {
    height: 50%;
}
.Zqjwu img {
    height: 9.0625rem;
}
.Zqjwu .tit {
    font-size: 1.125rem;
    height: 2.25rem;
    line-height: 2.25rem;
    color: rgb(255, 255, 255);
    font-weight: 800;
    white-space: nowrap;
}
.Zqjwu .tit {
    line-height: 1.125rem;
    height: auto;
    margin-bottom: 0.625rem;
}.Zqjwu .cont {
    color: rgba(152, 167, 181, 0.7);
    line-height: 1.25rem;
    margin: 0.4375rem auto;
    max-width: 16.9375rem;
    width: auto;
}
.jRLQwZ.mb .swiper .swiper-slide .item {
    flex: 0 0 auto;
    width: 49%;
}
.jRLQwZ.mb .swiper .swiper-slide .item {
    width: auto;
}
.jRLQwZ .item {
    position: relative;
    height: 16.125rem;
    flex: 1 1 0%;
}
.Zqjwu.col-2 {
    background-image: linear-gradient(146deg, rgb(10, 228, 56) -80%, rgb(24, 25, 28) 30%);
    margin: 0px;
}
.Zqjwu {
    padding: 0.625rem 1.875rem;
}
.Zqjwu {
    border-radius: 1.25rem;
    text-align: center;
    padding: 0.9375rem 1.875rem;
}
.jRLQwZ.mb .swiper .swiper-slide .item {
    width: auto;
}
.Zqjwu.col-3 {
    background-image: linear-gradient(146deg, rgb(255, 96, 96) -80%, rgb(24, 25, 28) 30%);
}