.casino-page {
    padding: 0px;
}
.bBIfBG.casino-header {
    background-color: rgb(36, 38, 43);
    margin: 0px -1.25rem;
    position: relative;
    padding: 0px 1.25rem;
    border-bottom: 1px solid rgb(46, 49, 56);
}
.bBIfBG.casino-header {
    margin: 0px;
    padding: 0px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bBIfBG .header-sub {
    height: 60px;
    max-width: 1328px;
    margin: 0px auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.bBIfBG .header-sub {
    padding: 0px 0.625rem;
}
.bBIfBG .header-sub .m-item.rules {
    margin-right: 0.625rem;
}
.bBIfBG .header-sub .m-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

/* ======================================= Banner ============================= */
.fHLJnX > .banner {
    height: 13.125rem;
    max-width: 1328px;
    margin: 0px auto;
    background: url(https://static.nanogames.io/assets/banner-mobile.31cdb8de.png) center center / cover no-repeat rgb(163, 20, 220);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    position: relative;
    border-radius: 0px;
}

.fHLJnX > .banner .management {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 0px;
    width: 2.75rem;
    height: 2.75rem;
    top: 0.625rem;
    right: 1.6875rem;
    background-color: rgb(181, 70, 255);
    border-radius: 1.375rem;
}
.fHLJnX > .banner .management .icon {
    margin-right: 5px;
    color: rgb(255, 255, 255);
}
.fHLJnX > .banner .management .icon {
    margin-right: 0px;
}
.fHLJnX > .container {
    max-width: 1328px;
    margin: 0px auto;
    padding-bottom: 120px;
    background: rgb(36, 38, 43);
}
.fHLJnX > .container {
    width: 100%;
}
.kAMryv {
    width: 790px;
    height: 100%;
    margin: 0px auto;
    padding-top: 23px;
    box-sizing: border-box;
    position: relative;
}
.kAMryv {
    width: 100%;
    height: auto;
    padding: 0px 1.6875rem;
    background-image: linear-gradient(rgb(163, 20, 220), rgb(110, 4, 164) 88%, transparent 88%);
    margin-bottom: 2.5rem;
}
.kAMryv .m-casino {
    width: 320px;
    height: 416px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(159, 31, 244), rgb(62, 14, 95));
    padding: 106px 32px 0px;
    box-sizing: border-box;
    position: relative;
}
.kAMryv .m-casino {
    width: 100%;
}
.welcome .sc-knKHOI .m-casino {
    padding-bottom: 2.8125rem;
    height: auto;
}
.kAMryv .m-casino::before {
    content: "";
    width: 100%;
    height: 106px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(https://static.nanogames.io/assets/my-casino.925e409c.png) center 20px / 176px no-repeat;
}
.welcome .sc-knKHOI .tip {
    font-size: 1.875rem;
    line-height: 1.23;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;
    color: rgb(255, 255, 255);
    padding-left: 1.25rem;
}
.kAMryv .new {
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 44px;
    border-radius: 22px;
    margin-top: 1.5rem;
    background-image: conic-gradient(from 1turn, rgb(69, 136, 2), rgb(123, 197, 20));

}
.kAMryv .m-casino .theme {
    color: rgb(255, 209, 12);
}

.fHLJnX > .container > .section {
    margin-bottom: 3.125rem;
}

.fHLJnX > .container > .section.why {
    margin-top: 2.25rem;
}

.fHLJnX .section > .title {
    font-weight: 600;
    color: rgb(245, 246, 247);
    text-align: center;
}
.fHLJnX > .container > .section > .title {
    margin-bottom: 0.75rem;
}
.fHLJnX > .container > .section.why > .title {
    font-size: 1.125rem;
}
.jsqEAL {
    padding: 0px 1.625rem;
    display: flex;
    flex-direction: column;
}
.jsqEAL .left, .jsqEAL .right {
    flex: 1 1 0%;
    line-height: 1.43;
    background-color: rgb(30, 32, 36);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 190px;
    color: rgb(153, 164, 176);
}
.jsqEAL .left {
    background-image: url(https://static.nanogames.io/assets/why.left.53b9505a.png);
}
.jsqEAL .left, .jsqEAL .right {
    padding: 3.75rem 1.4375rem 1.25rem;
    background-size: auto 6.5625rem;
    font-size: 0.8125rem;
}

.jsqEAL .title {
    font-size: 0.875rem;
    line-height: 1.21;
    position: relative;
    font-weight: 600;
}
.fHLJnX .theme {
    color: rgb(67, 179, 9);
}
.jsqEAL .title::before {
    content: "";
    position: absolute;
    top: 0.3125rem;
    left: -1rem;
    width: 0.625rem;
    height: 0.25rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAICAMAAADOQy/fAAAANlBMVEUAAABdoABeoABhpQBspwBeoABdoQBeoQBdoABdogBeoQBeoQBeoQBdogBhogBoogBmzABdoAAPKUahAAAAEXRSTlMA3fInDdrQy6ehd2JcSjcWBabtI7oAAAA1SURBVAjXZci5EQAhDARBIXEv7+SfLC7Fttm2i2micYfkuPAimz94s3R1UpeNB35LJwcDtQBzzgKVDIgVJQAAAABJRU5ErkJggg==) center center / contain no-repeat;
}
.jsqEAL .desc {
    margin: 15px 0px 20px;
}

.fHLJnX > .container > .section.rewards-system {
    margin-top: 0px;
    margin-bottom: 1rem;
}

.fHLJnX .section > .title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(245, 246, 247);
    margin-bottom: 40px;
    text-align: center;
}
.fHLJnX > .container > .section.rewards-system > .title {
    margin-bottom: 0.625rem;
}
.fHLJnX > .container > .section.rewards-system .theme {
    color: rgb(67, 179, 9);
}
.fHLJnX > .container > .section .tip {
    color: rgb(153, 164, 176);
    text-align: center;
    margin: 0px auto;
    position: relative;
}
.fHLJnX > .container > .section .tip {
    font-size: 0.8125rem;
    width: 21.25rem;
    padding-bottom: 1.875rem;
    line-height: 1.54;
}
.fHLJnX > .container > .section {
    margin-bottom: 3.125rem;
}
.fgzCdg.rewards-graph {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px 1.625rem;
}
.fgzCdg .title {
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-flex;
    background: url(https://static.nanogames.io/assets/star.321c7b6c.png) 0.625rem center / 1.125rem no-repeat rgb(30, 32, 36);
    border-radius: 0.375rem;
    box-shadow: rgb(67, 179, 9) 0px 0px 0px 1px inset;
    padding: 0px 1.25rem 0px 2.5rem;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.fgzCdg .title::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 1.25rem;
    width: 1.25rem;
    background: rgb(28, 41, 51);
    transform: rotateZ(45deg) translate(0px, -1.0625rem);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: transparent transparent rgb(67, 179, 9);
}
.fgzCdg .rewards-wrap {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 2.5rem;
    background: url(https://static.nanogames.io/assets/mobile-arrow.2308dfc2.png) center top / auto 2.5rem no-repeat;
}

.fgzCdg .item-rewards:hover, .fgzCdg .item-commission:hover {
    color: inherit;
    text-decoration: none;
}
.fgzCdg .item-rewards, .fgzCdg .item-commission {
    width: 10.3125rem;
    padding-top: 4.8125rem;
    padding-bottom: 0.625rem;
    box-shadow: rgb(67, 179, 9) 0px 0px 0px 1px inset;
    border-radius: 0.375rem;
    background-color: rgb(30, 32, 36);
    background-repeat: no-repeat;
    background-position: center 1.125rem;
    background-size: 2.8125rem;
    background-image: url(https://static.nanogames.io/assets/icon.rewards.4efce6d5.png);
    height: 9.375rem;
    display: flex;
    flex-flow: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.fgzCdg .item-commission {
    background-image: url(https://static.nanogames.io/assets/icon.commission.6465c1e0.png);
}
.fgzCdg .item-rewards::before, .fgzCdg .item-commission::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 1.25rem;
    width: 1.25rem;
    background: rgb(36, 38, 43);
    transform: rotateZ(45deg) translate(0px, -1.0625rem);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: transparent transparent rgb(67, 179, 9);
}
.fgzCdg .type {
    color: rgb(67, 179, 9);
    width: 6.25rem;
    line-height: normal;
}
.fgzCdg .tip-detail {
    color: rgb(255, 255, 255);
}
.fHLJnX > .container > .section {
    margin-bottom: 3.125rem;
}

.fHLJnX > .container > .section > .title {
    margin-bottom: 0.75rem;
}

.cdwmLq {
    display: flex;
}
.cdwmLq {
    padding: 0px 1.625rem;
    background: none;
    flex-direction: column;
}
.cdwmLq .system {
    border-radius: 0.5625rem;
    background-size: 6.875rem;
    background-position: 95% center;
    background-color: rgb(23, 24, 27);
    padding: 1.6875rem 1.375rem;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
}
.cdwmLq .system .title {
    font-size: 1rem;
}
.cdwmLq .system .desc {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    max-width: 14.0625rem;
    margin-top: 0.5rem;
    margin: 20px 0px;
    color: rgb(245, 246, 247);
}
.cdwmLq .system .flex {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1;
}
.cdwmLq .system .amount {
    font-size: 1.0625rem;
}
.cdwmLq .system .amount {
    color: rgb(246, 199, 34);
    font-weight: 600;
}
.cdwmLq .system .hover {
    margin-left: 0.625rem;
    font-size: 0.75rem;
}
.cdwmLq .graph {
    background-color: rgb(23, 24, 27);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    border-radius: 10px;
}
.cdwmLq .graph {
    margin: 0.5rem;
    height: 20rem;
}

.cdwmLq .item {
    background: rgb(30, 32, 36);
    flex: 1 1 0%;
}

.cdwmLq .footer {
    text-align: center;
}
.cdwmLq .footer {
    height: auto;
    padding-top: 0px;
    padding-bottom: 1rem;
}
.cdwmLq .footer .text {
    color: rgba(153, 164, 176, 0.6);
    /* font-size: 14px; */
    margin: 0px 0px 8px;
}
.cdwmLq .footer .text {
    font-size: 0.75rem;
    margin-bottom: 0.4375rem;
}
.cdwmLq .contact {
    height: 36px;
    border-radius: 18px;
    background: rgb(23, 24, 27);
    font-size: 14px;
    color: rgb(234, 234, 234);
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 6px;
    padding-right: 12px;
}
.cdwmLq .contact .icon-box {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgb(47, 159, 218);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 8px;
}
.cdwmLq .item.commission {
    margin-bottom: 0px;
    margin-left: 0px;
}
.cdwmLq .item.commission .graph {
    background-position: center top;
    height: 20rem;
    margin: 0.5rem;
}
.cdwmLq .commission .graph {
    background-image: url(https://static.nanogames.io/assets/graph.pit.9f962d2f.png);
}


.fHLJnX > .container > .section {
    margin-bottom: 3.125rem;
}

.eoJPQL .is-mobile .title {
    font-size: 0.875rem;
}
.eoJPQL .title {
    text-align: center;
    color: rgb(245, 246, 247);
    line-height: normal;
    margin-bottom: 10px;
    font-weight: 600;
}
.eoJPQL .is-mobile .fc {
    margin: 0px 1.625rem;
    padding: 1.625rem;
    border-radius: 0.5625rem;
    background-color: rgb(30, 32, 36);
}
.eoJPQL .is-mobile .rewards, .eoJPQL .is-mobile .commission {
    padding-top: 6.25rem;
    background-repeat: no-repeat;
    background-position: center -0.625rem;
    background-size: 7.5rem;
}
.eoJPQL .is-mobile .rewards {
    background-image: url(https://static.nanogames.io/assets/rewards.total.a2ab034b.png);
    margin-bottom: 3.125rem;
}
.eoJPQL .is-mobile .desc {
    padding-bottom: 0.125rem;
    width: auto;
    font-size: 0.75rem;
}
.eoJPQL .desc {
    color: rgba(153, 164, 176, 0.6);
    text-align: center;
    max-width: 334px;
    white-space: nowrap;
}
.eoJPQL .is-mobile .number-wrap {
    width: 100%;
    height: 2.8125rem;
    font-size: 1.5625rem;
    border-radius: 0.3125rem;
}
.eoJPQL .number-wrap {
    max-width: 334px;
    /* height: 51px; */
    border-radius: 20px;
    background-color: rgba(23, 24, 27, 0.7);
    color: rgb(246, 199, 34);
    font-weight: 600;
    /* font-size: 24px; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}
.eoJPQL .number-wrap::after {
    content: "";
    width: 20px;
    height: 36px;
    position: absolute;
    top: 0px;
    right: 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAA+CAMAAAB5jTkQAAAAllBMVEUAAAD/4wD/zQD/zQD/zQD/zgD/2QD/zQD/zQD/0QD/0QD/0QD/zAD/zAD/zQD/zQD/zQD/zQD/zQD/zQD/zQD/zgD/zQD/zgD/0wD/zQD/zQD/zQD/zAD/zQD/zQD/zQD/zgD/zgD/zwD/zgD/0AD/0gD/zQD/zQD/zQD/zQD/zQD/zQD/zQD/zAD/zQD/0gD/zwD/zAAIjeTFAAAAMXRSTlMABFvPti8G9O8hDgv63cbBuqWOdHBWUUAX+Orh2MqYZU08NSklEuWriYF7sp94axxHbGQApQAAAZZJREFUSMeFlNlygkAQABflMIpo1MT7vu/0//9cGDREkB36gSq2umB2LhPTd0fVutHoQnOjGgtgrRr+Dlyj8gXMdWUPfOnKBFjoSgBUdKUGdHSlCUS68gkEvqrMKQ2mMQImflmJ4KoqThUY6lVahUDVUZ0jpblxInG+VedDUlz7UJ1vJJxG+tkiuyPOPlWuReG0xDmleTAFDHYvIfsUDsQylHp6RtiwMkXciNndk+htrTpLr3WkFz+tIbtxJVybYgZjcWbGCayK8QJxun3o6VkmUtvwxIOl3u2CVlI/QrgnL+q19JVUQWg75dF82o3tkAcHq9Ljj5u2b9otsG+mPjHzbZOY4dIe7MBsasTU1rZgp/K1UJzxwLIDTulSIXpLj5PE4P3PDZ2iTU7zqbsI+UZPTo/Pl/okqURutjON8LxW9lYHYlrZ5U830yuj/Gq8AJe3NggaLyf1MexflXYyI9l6ZA+24TMp2fAq+f+c88l0X398LsqUyVRA7tPWN70+YoKXpk1VfnTFD6WXdKYsyhRvakqxzPEvSmlIJn6vSEMAAAAASUVORK5CYII=) center center / contain no-repeat;
}

.eoJPQL .number-wrap .type {
    margin-left: 8px;
}
.eoJPQL .is-mobile .commission {
    background-image: url(https://static.nanogames.io/assets/commission.total.a9f0535e.png);
}
.fHLJnX > .container > .section > .title {
    margin-bottom: 0.75rem;
    font-size: 12px;
}

.fHLJnX .button {
    display: block;
    margin: 0px auto;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
}

.fHLJnX .button {
    width: 12.75rem;
    height: 2.5rem;
    font-size: 14px;
}
