.jVgBRe {
    height: 7.375rem;
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: rgb(36, 38, 43);
}
.jVgBRe .top, .jVgBRe .login-top {
    border-bottom: 1px solid transparent;
}
.jVgBRe .login-top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 4rem;
    padding: 0px 0.75rem;
    position: relative;
}
.jVgBRe .login-top .logo-wrap {
    margin-right: 1rem;
    margin-top: 0.25rem;
    position: relative;
}
.jVgBRe .login-top .logo-wrap img {
    width: 1.75rem;
}
.cUTdQJ {
    overflow: visible;
    border-radius: 50%;
    border: 1px solid rgba(80, 91, 102, 0.6);
}
.cUTdQJ .open-wrap {
    width: 2rem;
    height: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgba(23, 22, 22, 0.52);
    border-radius: 50%;
}
.jVgBRe .login-top .header-login {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
}
.jVgBRe .login-top .header-login p {
    width: 6.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: rgb(116, 201, 23);
    font-weight: bold;
}
.jVgBRe .login-top .header-login button {
    width: 6.25rem;
    height: 2.5rem;
}
.fnKcEH.button {
    color: rgb(245, 246, 247);
    box-shadow: rgba(29, 34, 37, 0.1) 0px 4px 8px 0px;
    background-color: rgb(67, 179, 9);
    background-image: conic-gradient(from 1turn, rgb(67, 179, 9), rgb(93, 219, 28));
}
.cBmlor {
    display: block;
    width: 100%;
    border-radius: 6.25rem;
    height: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.36, 0.66, 0.04, 1) 0s;
}
.cBmlor > .button-inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.jVgBRe .bottom {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(30, 32, 36);
    height: 3.375rem;
}
.jVgBRe .bottom .left {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.jVgBRe .bottom .right {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 1.25rem;
    position: relative;
}

.mobile-navbar .PGOpB {
    position: relative;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
    border: none;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.PGOpB {
    cursor: pointer;
}
.mobile-navbar  .PGOpB .icon {
    font-size: 1rem;
}
.jVgBRe .bottom .right .badge {
    transform: translate(0.3125rem, -0.3125rem);
}
.jVgBRe .bottom::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -0.75rem;
    width: 100%;
    height: 0.75rem;
    background-image: linear-gradient(rgb(30, 32, 36), rgba(36, 38, 43, 0));
    opacity: 0.25;
}
.gGSOuF {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    background-color: rgb(67, 179, 9);
    color: rgb(255, 255, 255);
    height: 1.25rem;
    line-height: 1.25rem;
    min-width: 1.25rem;
    padding: 0px 0.375rem;
    border-radius: 0.625rem;
    text-align: center;
}