.gAvMHL {
  height: 4rem;
  position: fixed;
  z-index: 201;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: rgb(36, 38, 43);
  transition: all 0.2s linear 0s;
}
.gAvMHL .header-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.gAvMHL .header {
  transition: all 0.5s ease 0s;
  max-width: 112.5rem;
  padding: 0px 0.75rem;
  margin: 0px auto;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.gAvMHL::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -0.75rem;
  width: 100%;
  height: 0.75rem;
  background-image: linear-gradient(rgb(17, 20, 21), rgba(36, 38, 43, 0));
  opacity: 0.25;
}
.gAvMHL .left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
}
.ftyLxH {
  margin-right: 24px;
  padding-left: 0.2%;
}
.jivBdD {
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  width: auto;
}
.jivBdD img {
  height: 2.5rem;
}
.gAvMHL .login-in {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.gAvMHL .login-in > button p {
  margin: 0px 0.5rem 0px 0px;
  padding: 1rem;
  cursor: pointer;
  color: rgb(67, 179, 9);
  font-weight: bold;
}
.gAvMHL .login-in .button {
  width: 6.25rem;
  height: 2.5rem;
  margin-right: 3.125rem;
}
.ftyLxH .search-pc {
  margin-left: 4%;
  max-width: 32.5rem;
}
.cBmlor > .button-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.fnKcEH.button {
  color: rgb(245, 246, 247);
  box-shadow: rgba(29, 34, 37, 0.1) 0px 4px 8px 0px;
  background-color: rgb(67, 179, 9);
  background-image: conic-gradient(from 1turn, rgb(67, 179, 9), rgb(93, 219, 28));
}
.jsyNKG {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  flex: 1 1 0%;
}


.jsyNKG .search-input-wrap-pc {
  width: 100%;
  height: 2.875rem;
  border-radius: 1.4375rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border: 1px solid transparent;
  position: relative;
}
.dwaOxj {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(28, 30, 34);
  border-radius: 1.4375rem;
  padding: 0px 0.875rem;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
}
.dwaOxj input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 0.375rem;
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.hxODWG {
  width: 1.4em;
  height: 1.4em;
  fill: rgba(153, 164, 176, 0.6);
}
.PGOpB {
  cursor: pointer;
}
.PGOpB .chat-btn {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.PGOpB .chat-btn > img {
    width: 1.375rem;
    height: 1.375rem;
    fill: rgba(153, 164, 176, 0.6);
}



.gAvMHL .right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  gap: 20px;
  justify-content: flex-end;
}
.euzHLF .wallet-enter {
  margin-right: 24px;
}
.LQlWw {
  background-color: rgb(30, 32, 36);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 3rem;
  border-radius: 1.5rem;
  padding-left: 0.875rem;
  line-height: 1;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.icGouR {
  position: relative;
  margin: 0.4375rem 0.25rem 0.4375rem 0.4375rem;
}
.boxpOO {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 800;
  min-width: 5.75rem;
}
.boxpOO .coin-icon {
  width: 1rem;
  height: 1rem;
}
.boxpOO .currency {
  margin: 0px 0.625rem 0px 0.4375rem;
}
.erPQzq {
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
}
.icGouR .balance .amount {
  color: rgb(245, 246, 247);
  font-weight: 800;
}
.erPQzq .amount-str {
  width: 7em;
  display: inline-block;
}
.erPQzq .suffix {
  opacity: 0.5;
}
.eWZHfu.button {
  color: rgb(245, 246, 247);
  box-shadow: rgba(29, 34, 37, 0.1) 0px 4px 8px 0px;
  background-color: rgb(88, 26, 196);
  background-image: conic-gradient(from 1turn, rgb(88, 26, 196), rgb(119, 60, 253));
}

.fGPfpD .svg {
  margin-right: 0.3125rem;
}
.LQlWw .svg {
  fill: rgb(255, 255, 255);
}
.fWkueO {
  width: 5rem;
  height: 2.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(30, 32, 36);
  border-radius: 1.25rem;
  cursor: pointer;
  position: relative;
  z-index: 9;
}
.fWkueO .user-wrap {
  display: flex;
}
.fWkueO .user-wrap > a {
  font-size: 0px;
}
.fWkueO .svg {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.fWkueO .user-wrap > a .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.fGPfpD {
  height: 100%;
  width: 7.25rem;
  border-radius: 30px;
}