

.b1rxc92l {
    padding-top: 2rem;
}
.page-max-width-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1430px;
}

.tsxsoob {
    --14a08u9: url(https://bc.game/assets/bg.5ffdc275.png);
    --18of61s: url(https://bc.game/assets/bg_m.a27b3f09.png);
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 33.8%;
    margin-top: 0;
    background: var(--14a08u9) no-repeat center left;
    background-size: auto 100%;
    min-height: 22.5rem;
}
.tsxsoob .left-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5%;
}
.tsxsoob h2 {
    margin: 0;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: var(--autofill-color);
    -webkit-letter-spacing: -1px;
    -moz-letter-spacing: -1px;
    -ms-letter-spacing: -1px;
    letter-spacing: -1px;
}
.tsxsoob .bonus-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.125rem;
}
.ui-button>.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.tsxsoob .join-btn {
    margin: 0 auto;
    margin-top: 1rem;
    width: 15rem;
    height: 3rem;
}

.ui-button.s-conic2 {
    color: #fff;
    background-color: #6e34e2b3;
    background-image: conic-gradient(from 1turn,rgba(136,83,252,1),rgba(110,52,226,1));
}
.tsxsoob h2 span {
    color: #ffa439;
}
.tsxsoob .sub-p {
   color: var(--autofill-color);
    line-height: 1.25rem;
}
.tsxsoob .bonus-item.f {
    margin-top: 2rem;
}
.tsxsoob .bonus-item img {
    width: 2.625rem;
    height: auto;
}
.tsxsoob .bonus-item .right-p .t {
   color: var(--autofill-color);
    font-weight: 600;
    line-height: 1.25rem;
}
.tsxsoob .bonus-item .right-p .d {
    margin-top: 0.25rem;
    line-height: 1rem;
}
.b1rxc92l p {
    margin: 0;
}
.s1mxgt0r {
    padding: 2rem 0;
}
.s1mxgt0r .step-top {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.s1mxgt0r .step-top .st-item .num {
    background: linear-gradient(180deg,rgba(111,77,204,.7) 0%,rgba(90,52,190,.7) 100%);
    box-shadow: inset 0 0 3px #fdfdfd80;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 600;
    border-radius: 50%;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
.s1mxgt0r .step-top .st-item p {
    margin-left: 0.75rem;
    color: var(--autofill-color);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
}
.s1mxgt0r .step-top .st-item {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.s1mxgt0r .steps {
    margin-top: 2rem;
}
.s1mxgt0r .step-item {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.s1mxgt0r .step-item .img-wrap {
    width: 50%;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 23.75rem;
}
.s1mxgt0r .step-item .img-wrap img {
    height: 25.125rem;
}
.s1mxgt0r .step-item .step-text {
    width: 50%;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    padding-right: 10%;
}
.s1mxgt0r .step-item .step-text .st {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--autofill-color);
    line-height: 1.875rem;
}
.s1mxgt0r .step-item .step-text .sd {
    margin-top: 1.875rem;
    line-height: 1.25rem;
}
.s1mxgt0r .step-item .step-text .s-btn {
    margin-top: 1.875rem;
    width: auto;
    height: 2.75rem;
    padding: 0 1.5rem;
}
.ui-button.s-conic {
    color: #fff;
    background-color: #1d803ab3;
    background-image: conic-gradient(from 1turn,rgba(88,175,16,1),rgba(29,128,58,1));
}

.m16yp196 {
    --lbz3fp: rgba(255,255,255,.1);
    --1lmgp0w: linear-gradient(180deg,#24262B 0%,#1D1E23 100%);
    --1dapdvf: linear-gradient(180deg,rgba(36,38,43,.32) 0%,rgba(64,66,84,.32) 100%);
    --enoqbr: rgba(174,136,255,.1);
    --mdb0xb: rgba(70,71,74,.4);
    --3dwov: linear-gradient(214.28deg,#24262B 12.04%,#321869 86.72%);
    --136fl3b: linear-gradient(214.28deg,#24262B 12.04%,#461869 86.72%);
    --mxizj: linear-gradient(214.28deg,#24262B 12.04%,#563A0B 86.72%);
    --caayga: radial-gradient(50% 50% at 50% 50%,#7636FF 0%,rgba(118,54,255,0) 100%);
    --1m3tbk1: radial-gradient(50% 50% at 50% 50%,#CB36FF 0%,rgba(203,54,255,0) 100%);
    --hnolrm: radial-gradient(50% 50% at 50% 50%,#B8730C 0%,rgba(184,115,12,0) 100%);
}
.m16yp196 .m-bt {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: var(--autofill-color);
    font-weight: 700;
}
.m16yp196 .m-bt span {
    color: #ffbf39;
}
.b1rxc92l.width-stage-1 .midden-page-wrap .perks-wrap, .b1rxc92l.width-stage-2 .midden-page-wrap .perks-wrap, .b1rxc92l.width-stage-3 .midden-page-wrap .perks-wrap {
    padding: 0;
    overflow-x: scroll;
}
.m16yp196 .perks-wrap .perk-item {
    width: 31%;
    height: 16rem;
    min-width: 20rem;
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
}
.b1rxc92l.width-stage-1 .midden-page-wrap .perks-wrap, .b1rxc92l.width-stage-2 .midden-page-wrap .perks-wrap, .b1rxc92l.width-stage-3 .midden-page-wrap .perks-wrap {
    padding: 0;
    overflow-x: scroll;
}
.m16yp196 .perks-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2.5rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 4%;
}
.m16yp196 .perks-wrap .item-1 {
    background: var(--3dwov);
}
.b1rxc92l.width-stage-1 .midden-page-wrap .perks-wrap, .b1rxc92l.width-stage-2 .midden-page-wrap .perks-wrap, .b1rxc92l.width-stage-3 .midden-page-wrap .perks-wrap {
    padding: 0;
    overflow-x: scroll;
}
.m16yp196 .perks-wrap .item-1 .top-info {
    color: #b28dff;
}
.m16yp196 .perks-wrap .perk-item .top-info {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 2.25rem;
    border-top-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background: var(--lbz3fp);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    z-index: 2;
}
.m16yp196 .perks-wrap .perk-item .img-wrap img {
    width: auto;
    height: 55%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    margin-left: 5%;
}
.m16yp196 .perks-wrap .perk-item .img-wrap {
    position: absolute;
    width: 80%;
    min-width: 17.5rem;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translateX(48%);
    -ms-transform: translateX(48%);
    transform: translate(48%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.m16yp196 .perks-wrap .perk-item .text-wrap {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    padding: 0 5%;
}
.m16yp196 .perks-wrap .perk-item .text-wrap .tt {
   color: var(--autofill-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    max-width: 12.5rem;
}
.ttu {
    text-transform: uppercase;
}
.b1rxc92l p {
    margin: 0;
}
.m16yp196 .perks-wrap .perk-item .text-wrap .td {
    margin-top: 1rem;
    line-height: 1.25rem;
    padding-right: 10%;
}
.b1rxc92l.width-stage-1 .midden-page-wrap .perks-wrap .perk-item, .b1rxc92l.width-stage-2 .midden-page-wrap .perks-wrap .perk-item, .b1rxc92l.width-stage-3 .midden-page-wrap .perks-wrap .perk-item {
    margin-left: 1.5rem;
}
.m16yp196 .perks-wrap .item-2 {
    background: var(--136fl3b);
}
.m16yp196 .perks-wrap .perk-item {
    width: 31%;
    height: 16rem;
    min-width: 20rem;
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
}
.m16yp196 .perks-wrap .item-2 .top-info {
    color: #d763ff;
}
.m16yp196 .perks-wrap .perk-item .top-info {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 2.25rem;
    border-top-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background: var(--lbz3fp);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    z-index: 2;
}
.m16yp196 .perks-wrap .item-3 {
    background: var(--mxizj);
}
.m16yp196 .perks-wrap .item-3 .top-info {
    color: #f0aa32;
}
.m16yp196 .perks-wrap .perk-item .top-info {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 2.25rem;
    border-top-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background: var(--lbz3fp);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    z-index: 2;
}
.m16yp196 .infos {
    margin-top: 2.5rem;
    padding: 0 4%;
    background: var(--1lmgp0w);
    padding-bottom: 3rem;
}
.top-img-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.m16yp196 .infos .top-img-text .top-img {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.b1rxc92l.width-stage-2 .midden-page-wrap .infos .top-img-text .top-img img, .b1rxc92l.width-stage-3 .midden-page-wrap .infos .top-img-text .top-img img {
    width: auto;
    height: 27.5rem;
}
.m16yp196 .infos .top-img-text .top-text {
    width: 40%;
    padding-bottom: 7.5rem;
}
.b1rxc92l.width-stage-2 .midden-page-wrap .infos .top-img-text .top-text, .b1rxc92l.width-stage-3 .midden-page-wrap .infos .top-img-text .top-text {
    width: 25rem;
    margin-left: -4rem;
}
.m16yp196 .infos .top-img-text .top-text .text-t {
   color: var(--autofill-color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem;
}
.m16yp196 .infos .top-img-text .top-text .text-t span {
    color: #ffbf39;
}
.m16yp196 .infos .top-img-text .top-text .text-d {
    margin-top: 1.25rem;
    line-height: 1.25rem;
}
.m16yp196 .infos .top-img-text .top-text button {
    margin-top: 1.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--primary-color);
}
.b1rxc92l.width-stage-2 .midden-page-wrap .bot-info, .b1rxc92l.width-stage-3 .midden-page-wrap .bot-info {
    height: auto;
}
.b1rxc92l.width-stage-2 .midden-page-wrap .bot-info .mb-item, .b1rxc92l.width-stage-3 .midden-page-wrap .bot-info .mb-item {
    padding-bottom: 1rem;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.m16yp196 .infos .bot-info .mb-item {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.b1rxc92l.width-stage-2 .midden-page-wrap .bot-info .mb-item .mb-img, .b1rxc92l.width-stage-3 .midden-page-wrap .bot-info .mb-item .mb-img {
    height: 7.5rem;
}
.m16yp196 .infos .bot-info .mb-item .mb-img {
    width: 7.75rem;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.m16yp196 .infos .bot-info {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 9rem;
    background: var(--1dapdvf);
    border: 1px solid var(--enoqbr);
    border-radius: 0.875rem;
    margin-top: -9rem;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 1%;
}
.b1rxc92l.width-stage-2 .midden-page-wrap .bot-info .mb-item .mb-text, .b1rxc92l.width-stage-3 .midden-page-wrap .bot-info .mb-item .mb-text {
    text-align: center;
}
.m16yp196 .infos .bot-info .mb-item .mb-text .mb-t {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--autofill-color);
    font-weight: 600;
}
.m16yp196 .infos .bot-info .mb-item .mb-text .mb-d {
    margin-top: 0.5rem;
    font-size: .75rem;
    line-height: 1rem;
}
.m16yp196 .infos .bot-info .mb-item .mb-text .mb-d {
    margin-top: 0.5rem;
    font-size: .75rem;
    line-height: 1rem;
}
.ba043ru {
    --omp5nj: rgba(164,164,164,.1);
    --dm5fuv: #FFFFFF;
}
.ba043ru .bot-t {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: var(--autofill-color);
    font-weight: 700;
    text-transform: capitalize;
}
.b1rxc92l p {
    margin: 0;
}
.ba043ru .bot-t span {
    color: #ffbf39;
}
.ba043ru .bot-infos {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2%;
    margin-top: 2.5rem;
    position: relative;
}
.ba043ru .bot-infos .info-item {
    width: 32%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ba043ru .bot-infos .info-item .bot-img-wrap {
    height: 12rem;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ba043ru .bot-infos .info-item .benefit1 .img-bg {
    background: radial-gradient(50% 50% at 50% 50%,rgba(255,54,175,.7) 0%,rgba(255,54,175,0) 100%);
}
.ba043ru .bot-infos .info-item .bot-img-wrap .img-bg {
    width: 100%;
    height: 100%;
    max-width: 15.125rem;
    -webkit-filter: blur(12.5px);
    filter: blur(12.5px);
}
.ba043ru .bot-infos .info-item .bot-img-wrap img {
    position: absolute;
}
.ba043ru .bot-infos .info-item .benefit1 img {
    height: 11.375rem;
    -webkit-transform: translate3d(-5%,-15%,0);
    -ms-transform: translate3d(-5%,-15%,0);
    transform: translate3d(-5%,-15%,0);
}
.ba043ru .bot-infos .info-item .b-t {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--autofill-color);
    font-weight: 700;
    max-width: 18.75rem;
    height: 3rem;
    overflow: hidden;
}
.b1rxc92l p {
    margin: 0;
}
.ba043ru .bot-infos .info-item .b-d {
    text-align: center;
    max-width: 20rem;
    margin-top: 0.5rem;
    line-height: 1.25rem;
}
.ba043ru .bot-infos .info-item-line {
    position: absolute;
    width: 1px;
    height: 90%;
    background: var(--omp5nj);
    top: 5%;
}

.ba043ru .bot-infos .info-item-line.f {
    left: 33%;
}
.ba043ru .bot-infos .info-item .benefit2 .img-bg {
    background: radial-gradient(50% 50% at 50% 50%,rgba(21,210,62,.6) 0%,rgba(21,210,62,0) 100%);
}
.ba043ru .bot-infos .info-item .benefit2 img {
    height: 8.25rem;
}
.ba043ru .bot-infos .info-item {
    width: 32%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ba043ru .bot-infos .info-item .bot-img-wrap {
    height: 12rem;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ba043ru .bot-infos .info-item .benefit3 .img-bg {
    background: radial-gradient(50% 50% at 50% 50%,rgba(54,62,255,.9) 0%,rgba(54,62,255,0) 100%);
}
.ba043ru .bot-infos .info-item .bot-img-wrap .img-bg {
    width: 100%;
    height: 100%;
    max-width: 15.125rem;
    -webkit-filter: blur(12.5px);
    filter: blur(12.5px);
}
.ba043ru .bot-infos .info-item .benefit3 img {
    height: 7.875rem;
}
.ba043ru .bot-signup {
    height: 15.5rem;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin-top: 3rem;
}.ba043ru .bot-signup .bot-bg {
    position: absolute;
    width: 25rem;
    height: 21.125rem;
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%,-60%,0);
    -ms-transform: translate3d(-50%,-60%,0);
    transform: translate3d(-50%,-60%,0);
    background: #6149EA;
    opacity: .34;
    -webkit-filter: blur(75px);
    filter: blur(75px);
}
.ba043ru .bot-signup p {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: var(--autofill-color);
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 0 5%;
}
.ba043ru .bot-signup .ui-button {
    margin-top: 2.5rem;
    height: 3.25rem;
    width: 17.75rem;
    position: relative;
    z-index: 2;
}
.ui-button.s-conic {
    color: #fff;
    background-color: #1d803ab3;
    background-image: conic-gradient(from 1turn,rgba(88,175,16,1),rgba(29,128,58,1));
}
.ui-button {
    --3xr1hu: rgba(107,113,128,.8);
    display: block;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: var(--border-radius);
    height: 3rem;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.36,.66,.04,1);
    -webkit-transition: transform .2s cubic-bezier(.36,.66,.04,1);
    transition: transform .2s cubic-bezier(.36,.66,.04,1);
}

@media screen and (max-width: 650px){
    .tsxsoob {
        --18of61s: url(https://bc.game/assets/bg_m.a27b3f09.png);
        width: 100%;
        height: 0;
        position: relative;
        padding-top: 33.8%;
        margin-top: 0;
        background: var(--14a08u9) no-repeat center left;
        background-size: auto 100%;
        min-height: 22.5rem;
    }
    .tsxsoob {
        --18of61s: url(https://bc.game/assets/bg_m.a27b3f09.png
    );
    }
    .b1rxc92l {
        padding-top: 0;
    }
    .page-max-width-wrap {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .tsxsoob .left-text-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 5%;
    }
    .tsxsoob {
        background: var(--18of61s) no-repeat top center;
        background-size: 100% auto;
        padding-top: 153.5%;
        min-height: 0;
    }
    .tsxsoob .left-text-wrap {
        padding-left: 0;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-bottom: 5%;
    }
    .tsxsoob .left-text-wrap h2 {
        text-align: center;
        font-size: 2.25rem;
        line-height: 2.75rem;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .tsxsoob .left-text-wrap h2 {
        text-align: center;
        font-size: 2.25rem;
        line-height: 2.75rem;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .tsxsoob .left-text-wrap .sub-p {
        text-align: center;
        margin-top: 0.25rem;
        font-weight: 700;
        padding: 0 2.25rem;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    .tsxsoob .left-text-wrap .bonus-items {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
        padding: 0 1.5rem;
    }
    .tsxsoob .left-text-wrap .bonus-items .right-p .d {
        font-size: .75rem;
    }
    .tsxsoob .left-text-wrap .join-btn {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }
    .s1mxgt0r {
        padding: 1.5rem 0;
    }
    .s1mxgt0r .step-top {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .s1mxgt0r .step-top .st-item {
        height: 2.25rem;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
    .s1mxgt0r .step-top .st-item .num {
        width: 1.75rem;
        height: 1.75rem;
        font-size: .75rem;
    }
    .s1mxgt0r .step-top .st-item p {
        font-size: .875rem;
        line-height: 1rem;
    }
    .s1mxgt0r .step-item {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }
    .s1mxgt0r .step-item .img-wrap {
        margin: -2rem 0;
    }
    .s1mxgt0r .step-item .img-wrap img {
        height: 22.5rem;
    }
    .s1mxgt0r .step-item .step-text {
        width: 100%;
        padding: 0 1.5rem;
        text-align: center;
    }
    .s1mxgt0r .step-item .step-text .st {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .s1mxgt0r .step-item .step-text .sd {
        margin-top: 1rem;
    }
    .s1mxgt0r .step-item .step-text .s-btn {
        margin: 0 auto;
        margin-top: 1rem;
    }
    .m16yp196 .m-bt {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .m16yp196 .perks-wrap {
        margin-top: 2rem;
        padding: 0 1.25rem;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .m16yp196 .perks-wrap .perk-item {
        max-width: none;
        width: 100%;
    }
    .m16yp196 .perks-wrap {
        margin-top: 2rem;
        padding: 0 1.25rem;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .m16yp196 .perks-wrap .perk-item {
        max-width: none;
        width: 100%;
    }
    .m16yp196 .infos {
        margin-top: 2rem;
        padding: 0 1.25rem 1.5rem;
    }
    .m16yp196 .infos .top-img-text {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .m16yp196 .infos .top-img-text .top-img, .m16yp196 .infos .top-img-text .top-img img {
        width: 100%;
    }
    .m16yp196 .infos .top-img-text .top-img, .m16yp196 .infos .top-img-text .top-img img {
        width: 100%;
    }
    .m16yp196 .infos .top-img-text .top-text {
        width: 100%;
        padding: 0 2rem;
        text-align: center;
        margin-top: -3rem;
    }
    .m16yp196 .infos .top-img-text .top-text .text-t {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .m16yp196 .infos .top-img-text .top-text .text-d {
        margin-top: 1rem;
    }
    .m16yp196 .infos .top-img-text .top-text button {
        margin: 0 auto;
        margin-top: 1rem;
    }
    .m16yp196 .infos .bot-info {
        margin-top: 1.25rem;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 1.25rem;
        height: auto;
    }
    .m16yp196 .perks-wrap .item-2, .m16yp196 .perks-wrap .item-3 {
        margin-top: 1.5rem;
    }
    .m16yp196 .infos .bot-info .mb-item {
        width: 100%;
        height: 7rem;
        border-bottom: 1px solid var(--mdb0xb);
    }
    .m16yp196 .infos .top-img-text .top-text {
        width: 100%;
        padding: 0 2rem;
        text-align: center;
        margin-top: -3rem;
    }
    .m16yp196 .infos .bot-info .mb-item .mb-img {
        width: 5.75rem;
        margin-left: -0.5rem;
    }
    .m16yp196 .infos .bot-info .mb-item .mb-img img.small {
        height: 3.25rem;
    }
    .m16yp196 .infos .bot-info .mb-item .mb-text {
        margin-left: 0.5rem;
    }
    .m16yp196 .infos .bot-info .mb-item .mb-img .mb-bg {
        width: 12.5rem;
    }
    .m16yp196 .infos .bot-info .mb-item .mb-img img {
        height: 3.75rem;
    }
    .m16yp196 .infos .top-img-text .top-text button {
        margin: 0 auto;
        margin-top: 1rem;
    }
    .ba043ru .bot-t {
        margin-top: 1.875rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .ba043ru .bot-infos {
        margin-top: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .ba043ru .bot-infos .info-item {
        width: 100%;
        margin-top: 1.5rem;
    }
    .ba043ru .bot-infos .info-item {
        width: 100%;
        margin-top: 1.5rem;
    }
}
