swiper-container {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  swiper-slide {
    font-size: 18px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
.index{
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-width: 2300px;
    padding-top: 14px;
}
.sliding-images{
    max-width: 1892px;
    position: relative;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.sliding-images-container{
    display: flex;
    gap: 10px;
    margin: 0px -0.5rem;
    overflow: visible;
    width: 100%;
}
.image-content{
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.image-content img{
    width: 100%;
    border-radius: 10px;
    /* margin-left: 10px;
  margin-right: 10px; */
}
.dhghsgiw{
    max-width: 1832px;
    margin: 20px auto;
}
.shgvuvvvqq{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 190px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1.25rem;
}
    .gahwwmnx{
    transform-origin: left top;
}
.auwjanw{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 196px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1.25rem;
}
.auwjanw.small-large .small-scale-1, .auwjanw.small-large .small-scale-2{
    width: 260px;
    margin-right: 12px;
}
.auwjanw > div .top {
    padding: 0px 0.875rem;
    height: 55px;
}

.kwUMQi .top{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}
.kwUMQi .top .circle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    flex: 0 0 auto;
}
.kwUMQi .top .circle img{
    width: 150%;
    margin-left: -25%;
    margin-top: -25%;
}
.small-scale-1 .top .word{
    flex: 1 1 0%;
}
.small-scale-1 .swiper{
    height: 126px;
    margin-left: 24px;
    margin-right: 12px;
}
.kwUMQi .top .word p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 0.5rem;
    color: rgb(229, 233, 237);
}
.auwjanw  > div .top p {
    height: 1.25rem;
    line-height: 20px;
}
.small-scale-2 .top{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}
.small-scale-2 .top .circle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    flex: 0 0 auto;
}
.small-scale-2 .top .circle img{
    width: 150%;
    margin-left: -25%;
    margin-top: -25%;
}
.kwUMQi .top p { 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 0.5rem;
    color: rgb(229, 233, 237);
}
.RabqooNu p{
    margin: 0px;
}
.auwjanw.small-large .small-scale-right{
    width: 436px;
}

.auwjanw .small-scale-right{
    width: 344px;
}
.auwjanw > div {
    height: 100%;
}
.auwjanw > div .tabs .tabs-navs{
    height: 52px;
}
.cvKYOe .tabs .tabs-navs{
    height: 3.75rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
}
.kQfmQV .tabs-navs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.25rem;
    position: relative;
    border-radius: 1.125rem;
    background-color: rgba(49, 52, 60, 0.7);
}
.cvKYOe .tabs .tabs-navs .tabs-nav {
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 50%;
}
.kQfmQV .tabs-nav.is-active {
    color: rgb(245, 246, 247);
    font-weight: bold;
}
.kQfmQV .tabs-nav {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    height: 100%;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
}
.auwjanw .small-scale-1  .item-wrap:first-child, .auwjanw .small-scale-2  .item-wrap:first-child {
    margin-bottom: 12px;
}
.bZpQzZ {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}
.bZpQzZ .item-wrap {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 3.375rem;
    max-width: 14rem;
}
.gZglJR .left {
    width: 3.25rem;
    height: 3.25rem;
}
.gPcmgp {
    border-radius: 0.625rem;
    flex: 0 0 auto;
    cursor: pointer;
    overflow: hidden;
}
.gPcmgp .image-inner {
background-color: rgb(49, 52, 60);
    width: 100%;
    height: 100%;
}
.gPcmgp .image-inner img {
    width: 100%;
    height: 100%;
}
.gZglJR .right {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 0.625rem;
    height: 3.375rem;
    flex: 1 1 0%;
    overflow: hidden;
}
.gZglJR .right .right-word-wrap {
    height: 1.125rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR .right .right-word-wrap {
    height: 1.125rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR .right .right-word-wrap {
    height: 1.125rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR .right .right-word-wrap p.sp {
    font-weight: normal;
    opacity: 0.6;
    color: rgb(152, 167, 181);
}
.gZglJR .right .right-word-wrap p {
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    color: rgb(229, 233, 237);
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gZglJR .right .right-word-wrap.big-word p {
    font-size: 0.875rem;
}
.gZglJR .right .right-word-wrap {
    height: 1.125rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR .right .right-word-wrap p span {
    padding-left: 0.25rem;
    color: rgb(93, 219, 28);
    font-weight: bold;
    font-size: 0.875rem;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.auwjanw.small-large .small-right .swiper .good-games-wrap {
    padding: 0px 1.875rem 0px 2.625rem;
}
.auwjanw .small-right .swiper .good-games-wrap {
    padding: 0px 2rem;
}
.auwjanw .small-right .swiper {
    height: 126px;
}
.gHAAU .good-games-wrap {
    display: flex;
    -webkit-box-align: center;
    width: 100%;
    align-items: center;
}
.auwjanw  .small-right .swiper .item-wrap {
    margin-right: 12px;
}
.gHAAU .good-games-wrap .item-wrap {
    flex: 1 1 0%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.kqweJp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 0%;
}
.kqweJp .left {
    width: 5rem;
    height: 5rem;
    border-radius: 0.75rem;
}
.kqweJp .left {
    width: 5rem;
    height: 5rem;
    border-radius: 0.75rem;
}
.gPcmgp .image-inner img {
    width: 100%;
    height: 100%;
}
.auwjanw .small-right .swiper .item-wrap .right {
    margin-top: 8px;
}
.kqweJp .right {
    width: 5rem;
    margin-top: 0.375rem;
}
.kqweJp .right .one-p {
    height: 1rem;
}
.kqweJp .right .right-word-wrap {
    height: 1rem;
}
.kqweJp .right .right-word-wrap {
    height: 1rem;
}
.kqweJp .right .right-word-wrap {
    height: 1rem;
}
.kqweJp .right .right-word-wrap p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1rem;
    line-height: 1rem;
    color: rgb(229, 233, 237);
}
.kqweJp .right .right-word-wrap p span {
    padding-left: 0.25rem;
    color: rgb(93, 219, 28);
    font-weight: bold;
}
.kqweJp .right .right-word-wrap p span {
    padding-left: 0.25rem;
    color: rgb(93, 219, 28);
    font-weight: bold;
}
.gPcmgp .image-inner {
    background-color: rgb(49, 52, 60);
    width: 100%;
    height: 100%;
}
.kqweJp .left {
    width: 5rem;
    height: 5rem;
    border-radius: 0.75rem;
}
.gPcmgp {
    border-radius: 0.625rem;
    flex: 0 0 auto;
    cursor: pointer;
    overflow: hidden;
}
.kqweJp .right {
    width: 5rem;
    margin-top: 0.375rem;
}
.kqweJp .right .one-p {
    height: 1rem;
}
.kqweJp .right .one-p p {
    height: 0.875rem;
    line-height: 0.875rem;
    font-size: 10px;
}
.kqweJp .right .one-p p {
    height: 0.875rem;
    line-height: 0.875rem;
    font-size: 10px;
}
.kqweJp .right .right-word-wrap {
    height: 1rem;
}
.kqweJp .right .right-word-wrap p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1rem;
    line-height: 1rem;
    color: rgb(229, 233, 237);
}
.kqweJp .right .right-word-wrap p span {
    padding-left: 0.25rem;
    color: rgb(93, 219, 28);
    font-weight: bold;
}
.right-slides{
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.screen-wrap {
    max-width: 1368px;
    margin: 0px auto;
    padding: 1.25rem 0.625rem;
}