.bPsBUR {
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-width: 2300px;
    padding-top: 24px;
}
.bPsBUR .gradient-wrap {
    max-width: 1832px;
    padding: 0px 0.75rem;
    width: 100%;
    position: relative;
    margin: 0px;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.iyCsvj {
    margin: 0px -0.5rem;
    overflow: visible;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.bPsBUR .swiper-slide {
    padding: 0px 8px;
}
.dnfJpJ {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.joQyOD {
    flex: 2 1 0%;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: rgb(49, 52, 60);
    display: block;
    position: relative;
    margin: 0px 0.375rem;
}
.joQyOD img {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    image-rendering: -webkit-optimize-contrast;
    position: absolute;
    left: 0px;
    top: 0px;
}
.joQyOD::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 28%;
}
.ktmMpR {
    flex: 1 1 0%;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: rgb(49, 52, 60);
    display: block;
    position: relative;
    margin: 0px 0.375rem;
}
.ktmMpR img {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    image-rendering: -webkit-optimize-contrast;
    position: absolute;
    left: 0px;
    top: 0px;
}

.gyJkwe {
    max-width: 1832px;
    margin: 0px auto;
    padding: 1.25rem 1rem;
}
.gAnAie {
    transform-origin: left top;
}
.kwUMQi {
    height: 100%;
    overflow: hidden;
}
.GNbnV {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 208px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1.25rem;
}
.GNbnV .list-one, .GNbnV .list-two {
    width: 249px;
    margin-right: 12px;
}
.GNbnV > div {
    height: 100%;
    padding: 1rem 0px;
}
.GNbnV > div .top {
    padding: 0.75rem;
}
.kwUMQi .top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}
.kwUMQi .top .circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    flex: 0 0 auto;
}
.kwUMQi .top .circle img {
    width: 150%;
    margin-left: -25%;
    margin-top: -25%;
}
.kwUMQi .top .word {
    flex: 1 1 0%;
}
.GNbnV > div .top p {
    height: 1.25rem;
    line-height: 20px;
}
.kwUMQi .top p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 0.5rem;
    color: rgb(229, 233, 237);
}

.dGbYFZ p {
    margin: 0px;
}
.kwUMQi .top .word span {
    margin-right: 0.25rem;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.GNbnV .list-one .swiper, .GNbnV .list-two .swiper {
    height: 126px;
    margin-left: 24px;
    margin-right: 12px;
}
.swiper-vertical>.swiper-wrapper {
    flex-direction: column;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.bZpQzZ {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}
.bZpQzZ > .item-wrap:first-child {
    margin-bottom: 0.5rem;
}

.bZpQzZ .item-wrap {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 3.375rem;
    max-width: 14rem;
}
.gZglJR .left {
    width: 3.25rem;
    height: 3.25rem;
}
.gPcmgp {
    border-radius: 0.625rem;
    flex: 0 0 auto;
    cursor: pointer;
    overflow: hidden;
}
.gPcmgp .image-inner {
    background-color: rgb(49, 52, 60);
    width: 100%;
    height: 100%;
}
.gPcmgp .image-inner {
    background-color: rgb(49, 52, 60);
    width: 100%;
    height: 100%;
}
.gZglJR .right {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 0.625rem;
    height: 3.375rem;
    flex: 1 1 0%;
    overflow: hidden;
}
.gZglJR .right .right-word-wrap {
    height: 1.125rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR .right .right-word-wrap p {
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    color: rgb(229, 233, 237);
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gZglJR .right .right-word-wrap p.sp {
    font-weight: normal;
    opacity: 0.6;
    color: rgb(152, 167, 181);
}
.dGbYFZ p {
    margin: 0px;
}
.gZglJR .right .right-word-wrap {
    height: 1.125rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gZglJR .right .right-word-wrap.big-word p {
    font-size: 0.875rem;
}
.gZglJR .right .right-word-wrap.big-word p {
    font-size: 0.875rem;
}
.gZglJR .right .right-word-wrap p {
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    color: rgb(229, 233, 237);
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gZglJR .right .right-word-wrap p span {
    padding-left: 0.25rem;
    color: rgb(93, 219, 28);
    font-weight: bold;
    font-size: 0.875rem;
}
.eBrgjO {
    position: relative;
    width: 100%;
}
.kwUMQi {
    height: 100%;
    overflow: hidden;
}
.GNbnV .list-three, .GNbnV .list-four {
    width: 313px;
}
.GNbnV .list-three, .GNbnV .list-four {
    width: 313px;
}
.GNbnV .list-three {
    margin-right: 12px;
}
.GNbnV > div {
    height: 100%;
    padding: 1rem 0px;
}