.kBjSXI {
    position: fixed;
    z-index: 1000;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    filter: none !important;
}
.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width: 464px;
    height: 720px;
    margin: -375px 0px 0px -280px;
    transition-property: width, height, margin-left, margin-top;
    transition-duration: 0.5s;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: rgb(23, 24, 27);
    transition: all 0.5s ease;
}
.dialog-head {
    position: relative;
    z-index: 10;
    flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 3.75rem;
    margin-left: 1.125rem;
    transition: all 0.5s ease 0s;
}
.dialog-head.has-close {
    margin-right: 3.75rem;
}
.dialog-head .dialog-title {
    font-size: 1rem;
    margin: 0px;
    font-weight: bold;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(245, 246, 247);
}
.cGdWiX {
    align-self: flex-start;
}
.cGdWiX .vip-box {
    width: 3.8125rem;
    height: 4.875rem;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 0.875rem;
    padding-top: 1.75rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
.fLASqZ {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 11;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
}
.dialog-body {
    position: absolute;
    inset: 0px;
    display: flex;
    overflow: hidden;
}
.no-style {
    padding-top: 3.75rem;
    background-color: rgb(23, 24, 27);
}
.gTGvhG.user__profile {
    padding: 0.875rem;
    background: rgb(23, 24, 27);
}
.dialog-body > div {
    flex: 1 1 0%;
}
.jScFby {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    touch-action: pan-y;
    overscroll-behavior: contain;
}
.jXCVwe {
    position: relative;
    margin-top: 0.75rem;
}
.jXCVwe .user-info {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.jXCVwe .like {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(255, 255, 255);
    padding: 0px 0.75rem;
    cursor: unset;
}
.jXCVwe .button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.25rem;
    background: rgba(30, 32, 36, 0.7);
    border-radius: 1.6875rem;
}
.jXCVwe .like .icon {
    margin-right: 0.5rem;
}
.jXCVwe .edit {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2.25rem;
    border-radius: 1.125rem;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(30, 32, 36);
}
.jXCVwe .edit {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2.25rem;
    border-radius: 1.125rem;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(30, 32, 36);
}
.jXCVwe .user-info .avatar-box {
    position: relative;
}
.jXCVwe .user-info .avatar {
    width: 70px;
    height: 70px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}
.jXCVwe .user-info .name-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0.625rem;
    color: rgb(245, 246, 247);
    font-weight: 600;
}
.jXCVwe .user-info .user-name {
    font-size: 1.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.jXCVwe .user-info .user-level {
    margin-top: 0.25rem;
    width: auto;
}
.fPtvsS .img-star {
    width: auto;
    height: 1.0625rem;
    margin-right: 2px;
    object-fit: cover;
}
.jXCVwe .user-info .user-level .img-star {
    height: 1.125rem;
    width: auto;
    background-size: auto 100%;
}
.JQLBl.self {
    margin-top: 1rem;
}
.bRYT {
    background: rgb(30, 32, 36);
    border-radius: 1.25rem;
    padding: 0.875rem;
    margin-bottom: 0.5rem;
}
.JQLBl .module-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.bRYT .module-name {
    color: rgb(245, 246, 247);
    margin: 0.25rem 0px 0.75rem;
}
.JQLBl .module-name .total {
    margin-left: 0.5rem;
}
.JQLBl .module-name .detail-button {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: rgb(116, 173, 39);
}
.JQLBl .module-name .icon-name {
    margin-right: 0.625rem;
}

.JQLBl .scroll {
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow: auto;
    cursor: pointer;
}
.JQLBl .scroll .item {
    flex-shrink: 0;
    margin-right: 0.9375rem;
}
.JQLBl .scroll .img.locked {
    opacity: 0.5;
}
.JQLBl .scroll .img {
    width: 2.75rem;
    height: auto;
}
.bRYT {
    background: rgb(30, 32, 36);
    border-radius: 1.25rem;
    padding: 0.875rem;
    margin-bottom: 0.5rem;
}
.cHQfvF .module-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.cHQfvF .hover {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: rgb(116, 173, 39);
}
.cHQfvF .module-name .icon-name {
    margin-right: 0.625rem;
}
.gvTPwc {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.gvTPwc .item {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgba(24, 25, 29, 0.6);
    border-radius: 0.625rem;
    min-height: 5.3125rem;
}
.gvTPwc .item-type {
    font-size: 0.75rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
}
.bRYT .darken {
    color: rgba(153, 164, 176, 0.6);
    background: none;
}
.gvTPwc .item-value {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(245, 246, 247);
    margin-top: 0.25rem;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.gvTPwc .icon {
    margin-right: 0.25rem;
}
.bRYT .module-name {
    color: rgb(245, 246, 247);
    margin: 0.25rem 0px 0.75rem;
}
.cuPxwd {
    padding: 2.5rem 0px;
    color: rgba(153, 164, 176, 0.6);
    line-height: 1;
    text-align: center;
    height: 100%;
    min-height: 16.25rem;
    position: relative;
}
.cuPxwd img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6.875rem 0px 0px -6.25rem;
    width: 12.5rem;
    height: 12.5rem;
}
.cuPxwd .msg {
    position: absolute;
    z-index: 1;
    line-height: 1.25rem;
    left: 50%;
    width: 17.5rem;
    top: 50%;
    margin-top: 3.75rem;
    margin-left: -8.75rem;
}
